<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 特别说明：这里用于测试一些只能独立开来的容器特性 -->
	<!-- 特别注意：这里不要用自动扫描，因为其它代码有自动扫描的注解，容易冲突 -->

	<bean id="withCacheDemoService" class="com.pugwoo.redishelpertest.cache.WithCacheDemoService" />

	<!-- redis -->
	<bean id="redisHelper" class="com.pugwoo.wooutils.redis.impl.RedisHelperImpl">
	    <property name="host" value="127.0.0.1"/>
	    <property name="port" value="6379"/>
	    <property name="password" value="123456"/>
	    <property name="database" value="0" />
		<property name="maxConnection" value="1000" />
        <property name="redisObjectConverter" ref="jsonRedisObjectConverter"/>
	</bean>

    <bean id="jsonRedisObjectConverter" class="com.pugwoo.wooutils.redis.impl.JsonRedisObjectConverter" />

	<bean class="com.pugwoo.wooutils.redis.RedisSyncAspect" />

	<bean class="com.pugwoo.wooutils.cache.HiSpeedCacheAspect" >
		<constructor-arg index="0" type="int" value="10" />
		<constructor-arg index="1" type="int" value="200" />
	</bean>

</beans>
